<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= current_page.data.title"&mdash;""teyepe.com" %></title>
        <meta name="description" content="<%= current_page.data.description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="<%= permalink_helper %>">
        <%= stylesheet_link_tag "app", :relative => false %>
    </head>

    <body class="<%= page_classes %>">
        <%= partial "partials/header" %>
        <div class="loop js-loop">        
            <main id="main" class="main">
                <%= yield %>
            </main>
            <%= partial "partials/footer" %>
        </div>
        <%= javascript_include_tag "vendor.bundle", "app.bundle" %>
        <%= google_analytics_tag %>
    </body>
</html>
