---
ogtitle: Tasos Dervenagas | Designer 🤘
ogdescription: "Personal site of Tasos Dervenagas — UX Director, UI Engineer, Typographer & Illustrator. Designer"
title: Tasos Dervenagas | Designer 🤘
description: "Personal site of Tasos Dervenagas — UX Director, UI Engineer, Typographer & Illustrator. Designer"
category: home
priority: 1.0
---

<section class="intro">
    <div class="pseudoheader">
        <div class="grid grid--a">
            <div class="header__title grid__item--header" href="teyepe.com/">teyepe</div>
            <div class="header__logo grid__item--logo">
                <%= partial "partials/svg/logo" %>
            </div>
        </div>
    </div>
    <div class="grid">
        <%= partial "partials/grid-lines/about" %>
        <div class="grid__item--d">
            <div class="canvas__wrapper" id="js-canvas">
                <%= image_tag 'teyepe.png' %>
            </div>
        </div>
        <div class="grid__item--a">
            <h1 class="c-title--h1">teyepe who?</h1>
            <p><span>Teyepe</span> is the moniker of multi&shy;disciplinary designer <span>Tasos Dervenagas</span>.</p>
            <p>He builds top-notch user interfaces and develops meticulous design systems. Tasos is a design lead at <span>PeoplePerHour</span>.</p>
        </div>
        <%= partial "partials/aside" %>
    </div>
</section>
<section class="about">
    <div class="grid grid--a">
        <%= partial "partials/grid-lines/info" %>
        <div class="grid__item--b">
            <h2 class="c-title--h2">about</h2>
            <p>Tasos is among the few designers who arrogantly support the idea that web (design) is still <a href="https://ia.net/topics/the-web-is-all-about-typography-period" target="_blank" title="">95% typography</a>. Having a strong graphic design and typographic background, he has worked as art director, type designer and UI engineer with a career path of over <%= "#{(Date.today.year - 2001)}" %> years.</p>
            <p>Today, he designs interfaces and quite often writes presentational code for the web. He cares a lot about user experience, reusability, functionalism and minimal yet meaningful design. He favours semantically structured markup, thoroughly orchestrated CSS and component-based development.</p>
            <p>Throughout his professional endeavours, Tasos has <dfn class="sample__anchor">crafted <span class="sample__item"></span></dfn><dfn class="sample__anchor">typefaces, <span class="sample__item"></span></dfn><dfn class="sample__anchor">logotypes, <span class="sample__item sample__item--portrait"></span></dfn>illustrations, <dfn class="sample__anchor">web <span class="sample__item"></span></dfn>interfaces, <dfn class="sample__anchor">digital <span class="sample__item"></span></dfn><dfn class="sample__anchor">experiences <span class="sample__item"></span></dfn> and <dfn class="sample__anchor">more<span class="sample__item"></span></dfn>.</p>
            <p>Currently he designs demanding web applications with a group of briliant folks at PeoplePerHour.</p>
        </div>
    </div>
</section>
